

    <div class="errorPage">
        <div class="genericError">THERE SEEMS TO BE A PROBLEM</a></div>
        
        <div class="indexLink"><a href="/">CLICK HERE TO GO TO THE HOMEPAGE</a></div>
    </div>